
/*Reusable Component*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: rgb(7, 6, 6);
    font-family: "Lato" , Arial;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    }

.row{
    max-width: 1140px;
    margin: 0 auto;  
}

.hero-text-box{
    padding: 0%;
    position: absolute;
    float: right;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-size: 230%; /*Relative of base font size: 20*2.4 = 48.0*/
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.main-nav{
    padding-right: 0%;
    float: right;
    word-spacing: -5px;
    letter-spacing: normal;
    list-style-type: none;
    margin-top: 120px;
    font-size: 25px;
}

/*
color for btn link nav: #ea2027
*/
.btn:link,
.btn:visited,
input[type="submit"]{
    position: relative; top: 25px;
    float: inline-end;
    display: inline-block;
    padding: 10px 30px; /*top right bottom left*/
    font-weight: 200;
    text-decoration: none;
    border-radius: 150px;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]
{
    color: rgb(0, 0, 0);
    border: 1px solid #ea2027;
    background-color: #ea2027;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited{
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.btn-full:hover{
    background-color: #000000;
}
input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ea2027;
    color: rgb(234, 234, 234);
}

/*----------------------------*/
/*-----Logo&navigation--------*/
/*----------------------------*/

.logo{
    height: 400px;
    width: auto;
    float: right;
    margin-top: 50px;
    border-radius: 50%;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
}
.main-nav li a{
    padding: 8px, 0;
    color: #000102;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90%; /*20 * 0.9 = 18.0*/
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid rgb(255, 0, 0);
}

/*------------------------Header------------------------*/
.header{
    background-image: linear-gradient(rgba(213, 211, 211, 0.7),rgba(0,0,0,0.7)),
    url(/Users/deepu/Desktop/python/Resume/img/deep.png);
    background-size:cover;
    background-position:center;
    height: 150vh;
}

/*----H2----*/
.about{
    padding-top: 40%;
    padding-left: 5.1%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}
.about-1{
    color: #d8d8d8;
    font-size: 30px;
    padding-left: 0.05%;
}

/*-----Phone Application-----*/

@media (min-width: 900px){
#main, #subnav{ /*stack the 2 text boxes*/
        float: left;
        padding: 0;
        width: 94%;
        margin: 3%;
    }
#subnav dt{
    padding: 0;
    margin-top: 0;
}
#subnav{
    border-right: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
}
#logo{
    font-size: 45px;
}
#menu{
    text-align: center;
    padding: 0;
}
menu li{
    display: inline-block;
    margin: 1.25% .5% 1.25% .5%;
    border-left: 0;
    padding: 1%;
    border: 1px solid white;
}
#menu li a{
    color:white;
    text-decoration:none;
}
}
body{
    background-image: linear-gradient(rgba(213, 211, 211, 0.7),rgba(0,0,0,0.7)),
    url(img/deep.jpg);
    background-size:cover;
    background-position:center;
    height: 150vh;
    padding: 1%;
}